/* Basic */

body {
	color: white;
}


#main {
	position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

@keyframes header {
	0% {
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#header {
	animation: header 1s 1s forwards;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	top: 8em;
	vertical-align: middle;
	width: 100%;
}

#header h1 {
	font-size: 4.35em;
	font-weight: 900;
	letter-spacing: -0.035em;
	line-height: 1em;
}

#header p {
	font-size: 1.25em;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
}

#nav {
	margin: 10em 0 0 0;
	text-align: center;
}

#nav li {
	animation: nav-icons 0.5s ease-in-out forwards;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	display: inline-block;
	height: 5.35em;
	line-height: 5.85em;
	opacity: 0;
	position: relative;
	top: 0;
	width: 8em;
	text-align: center;
	margin: 1em 0.75em;
}

#nav li:nth-child(1) {
	animation-delay: 1.5s;
}

#nav li:nth-child(2) {
	animation-delay: 1.75s;
}

#nav li:nth-child(3) {
	animation-delay: 2s;
}

#nav li:nth-child(4) {
	animation-delay: 2.25s;
}

#nav li:nth-child(5) {
	animation-delay: 2.5s;
}

#nav li:nth-child(6) {
	animation-delay: 2.75s;
}

#nav li:nth-child(7) {
	animation-delay: 3s;
}

a {
	text-decoration: none;
	color: white;
}

#nav li a {
	border: 0;
	display: inline-block;
}

#nav li a:before {
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #fff;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2.5em;
}

#nav li a:hover {
	font-size: 1.1em;
}

#nav a:hover:before {
	background-color: rgba(245, 245, 245, 0.175);
}

#nav li a:active {
	font-size: 0.95em;
}

#nav a span {
	display: none;
}

#footer {
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 6em;
	line-height: 8em;
	text-align: center;
	color: black;
}

#footer a {
	color: black;
	text-decoration: underline;
}
